.menuLink {
  padding: 10px;
  margin-right: 10px;
  font-family: sans-serif;
  font-size: 1.1em;
  color: white;
}

.navbar-nav a:hover {
  text-decoration: none;
  color: rgba(183, 228, 183, 0.988);
}

.navbar {
  background-color: rgba(15, 17, 24, 0.808);
}

.activeStyle {
  color: rgba(170, 221, 127, 0.988);
  font-weight: bold;
}

.navBarBrandText {
  color: rgba(252, 244, 0, 0.658);
  margin-left: 10px;
  font-weight: bold;
  margin-right: 20px;
}

.cartBtn {
  width: 100px;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid rgb(252, 246, 163);
  background: goldenrod;
  border-radius: 5px;
  cursor: pointer;
}
